body {
	background-color: #3D3D3D;
}
a {
	text-decoration: none;
}
#logo-top {
	height: 50px;
}
#button-responsive {
	border-color: transparent;
	transition: all 0.2s;

}
#button-responsive:hover {
	background-color: #3D3D3D;
	transition: all 0.2s;
}
.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#navbar-top {
	background-color: #27ae60;
	border-color: #27ae60;
	-moz-box-shadow: 0px 2px 2px 0px #333333;
	-webkit-box-shadow: 0px 2px 2px 0px #333333;
	-o-box-shadow: 0px 2px 2px 0px #333333;
	box-shadow: 0px 2px 2px 0px #333333;
}
#navbar-top a {
	padding-right: 0;
	color: #ecf0f1;
}
#left-menu li > a:hover {
	background-color: #292929;
	text-decoration: none;
	transition: background-color 0.2s;
}
#left-menu li > a {
	background-color: transparent;
	transition: background-color 0.2s;
}
#left-menu {
	background-color: #3D3D3D;
	padding-top: 40px;
}
#left-menu li {
	margin-top: 5px;
	margin-bottom: 5px; 
}
#left-menu .active {
	background-color: #333333;
	-moz-box-shadow: inset 0px 0px 1px 1px #000000;
	-webkit-box-shadow: inset 0px 0px 1px 1px #000000;
	-o-box-shadow: inset 0px 0px 1px 1px #000000;
	box-shadow: inset 0px 0px 1px 1px #000000;
}
#navbar-top .active a {
	color: #27ae60;
}
#focus-menu {
	height: 22px;
	float: right;
	margin: 0;
	padding: 0;
}
