{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			
			

			<h1 class="page-header">
				Tableau de bord
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="qualityChart" style="min-width: 200px; height: 300px; max-width: 400px; margin: 0 0 0 0"></div>
		</div>
	</div>


{% endblock %}