{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Données
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-database"></i> <a href="#">Données</a>
				</li>
			</ol>
		</div>
	</div>

	{# Message de résultats #}
	{% if resultDataImport %}
		{% if resultDataImport == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">L'importation de la base de donnée a échouée.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">L'importation est réussie.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if resultDataExport %}
		{% if resultDataExport == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">L'exportation de la base de donnée a échouée.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">L'exportation est réussie.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}


	{# Importation/Exportation #}
	<div class="row">
		<div class="col-lg-12">
			{# Affichage du formulaire d'importation #}
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#importData">
			  	<i class="fa fa-cloud-upload"></i> Importer
			</button>
			{# Affichage du formulaire d'exportation #}
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exportData">
			  	<i class="fa fa-cloud-download"></i> Exporter
			</button>
		</div>
	</div>
	<br>
	{# Affichage des légumes #}
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs nav-justified" id="datapills">
			  <li role="presentation" class="active"><a href="#">Varietes</a></li>
			  <li role="presentation"><a href="#">Semenciers</a></li>
			  <li role="presentation"><a href="#">Emplacements</a></li>
			  <li role="presentation"><a href="#">Previsions</a></li>
			  <li role="presentation"><a href="#">Suivis</a></li>
			</ul>

			<div class="table-responsive" id="tableData">
				<table class="table" id="dataVarietes">
					<thead>
						<tr>
							<th>Nom du légume</th>
							<th>Variété</th>
							<th>Code légume</th>
							<th>Semencier</th>
							<th>Commentaire</th>
						</tr>
					</thead>
					<tbody>
						{% if (varietes|length > 0) %}
							{% for variete in varietes %}
								<tr>
									<td>{{ variete.nomLegume }}</td>
									<td>{{ variete.nom }}</td>
									<td>{{ variete.codeLegume }}</td>
									<td>{{ variete.semencier }}</td>
									<td>{{ variete.commentaire }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucunes variétés trouvées</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<table class="table" id="dataSemenciers">
					<thead>
						<tr>
							<th>Nom du semencier</th>						</tr>
					</thead>
					<tbody>
						{% if (semenciers|length > 0) %}
							{% for semencier in semenciers %}
								<tr>
									<td>{{ semencier.nom }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns semenciers trouvés</td>
							</tr>
						{% endif %}
						</tbody>
					</table>	
					</tbody>
				</table>	
				<table class="table" id="dataEmplacements">
					<thead>
						<tr>
							<th>Parcelle</th>
							<th>Carré de culture</th>
							<th>Planche</th>
							<th>Code emplacement</th>
							<th>Commentaire</th>
						</tr>
					</thead>
					<tbody>
						{% if (emplacements|length > 0) %}
							{% for emplacement in emplacements %}
								<tr>
									<td>{{ emplacement.parcelle }}</td>
									<td>{{ emplacement.carreCulture }}</td>
									<td>{{ emplacement.planche }}</td>
									<td>{{ emplacement.codeEmplacement }}</td>
									<td>{{ emplacement.commentaire }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns emplacements trouvés</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<table class="table" id="dataPrevisions">
					<thead>
						<tr>
							<th><strong>#</strong></th>
							<th>Préparation du sol</th>
							<th>Lutte adventices</th>
							<th>Semis</th>
							<th>Plantation</th>
							<th>Début de la récolte</th>
							<th>Fin de la récolte</th>
						</tr>
					</thead>

					<tbody>
						{% if (previsions|length > 0) %}
							{% set count = 1 %}
							{% for prevision in previsions %}
								<tr>
									<td><strong>{{ count }}</strong></td>
									<td>{{ prevision.preparationSol }} semaine(s)</td>
									<td>{{ prevision.lutteAdventices }} semaine(s)</td>
									<td>{{ prevision.semis }}</td>
									<td>{{ prevision.plantation }}</td>
									<td>{{ prevision.debutRecolte }}</td>
									<td>{{ prevision.finRecolte }}</td>
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucune prévisions trouvées</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<table class="table" id="dataSuivis">
					<thead>
						<tr>
							<th><strong>#</strong></th>
							<th>Préparation du sol</th>
							<th>Lutte adventices</th>
							<th>Semis</th>
							<th>Plantation</th>
							<th>Récolte</th>
							<th>Quantité</th>
							<th>Unité</th>
							<th>Qualité</th>
						</tr>
					</thead>

					<tbody>
						{% if (suivis|length > 0) %}
							{% set count = 1 %}
							{% for suivi in suivis %}
								<tr>
									<td><strong>{{ count }}</strong></td>
									<td>{{ suivi.preparationSol }}</td>
									<td>{{ suivi.lutteAdventices }}</td>
									<td>{{ suivi.semis }}</td>
									<td>{{ suivi.plantation }}</td>
									<td>{{ suivi.debutRecolte }} - {{ suivi.finRecolte }}</td>
									<td>{{ suivi.quantite }}</td>
									<td>{{ suivi.unite }}</td>
									<td>{{ suivi.qualite }}</td>
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						{% else %}
							<tr>
								<td> </td>
								<td>Aucuns suivis trouvés</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			
		</div>
	</div>

	{# Modal d'importation #}
	<div class="modal fade" id="importData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('importData') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Importation de données</h4>
		      	</div>
		     	<div class="modal-body">
	                <div class="form-group">
	                    <label>Fichier</label>
	                    <input type="file" name="nomImportFichier" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="submit" class="btn btn-default">Ok</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

	{# Modal d'importation #}
	<div class="modal fade" id="exportData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('exportData') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Exportation de données</h4>
		      	</div>
		     	<div class="modal-body">
	                <div class="form-group">
	                    <label>Nom de fichier</label>
	                    <input name="nomExportFichier" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="submit" class="btn btn-default">Ok</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

{% endblock %}