{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Liste des emplacements
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i>Gestion
				</li>
				<li>
					<i class="fa fa-plus-square"></i> <a href="{{ path('emplacement') }}">Emplacement</a>
				</li>
			</ol>
		</div>
	</div>

	{# Message de résultats #}
	{% if result %}
		{% if result == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de l'ajout de votre emplacement</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">L'emplacement a bien été ajouté.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if delete %}
		{% if delete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de la suppression de votre emplacement</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">L'emplacement a bien été supprimée.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if update %}
		{% if update == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de la modification de votre emplacement</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">L'emplacement a bien été modifié.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Parcelle</th>
							<th>Carré de culture</th>
							<th>Planche</th>
							<th>Code emplacement</th>
							<th>Commentaire</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if (emplacements|length > 0) %}
							{% for emplacement in emplacements %}
								<tr>
									<td>{{ emplacement.parcelle }}</td>
									<td>{{ emplacement.carreCulture }}</td>
									<td>{{ emplacement.planche }}</td>
									<td>{{ emplacement.codeEmplacement }}</td>
									<td>{{ emplacement.commentaire }}</td>
									<td>
										<button type="button" title="Éditer" idEmplacement="{{ emplacement.idEmplacement }}" class="btn btn-default emplacementEdit" data-toggle="modal" data-target="#updateEmplacement"><i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" title="Supprimer" idEmplacement="{{ emplacement.idEmplacement }}" class="btn btn-danger emplacementDelete" data-toggle="modal" data-target="#deleteEmplacement"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns emplacements trouvés</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				{# Formulaire d'ajout d'emplacement #}
				<form method="post" class="navbar-form" action="{{ path('addEmplacement') }}" role="form">
		        	<h4 class="modal-title" id="myModalLabel">Ajouter un emplacement</h4>
	                <div class="form-group">
	                    <input name="parcelle" class="form-control" placeholder="Parcelle" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <input name="carreCulture" class="form-control" placeholder="Carré de culture" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <input name="planche" class="form-control" placeholder="Planche" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <input name="codeEmplacement" class="form-control" placeholder="Code Emplacement" required>
	                    <p class="help-block"></p>
	                </div>
	                <br>
	                <div class="form-group">
                        <textarea name="commentaire" class="form-control" placeholder="Commentaire" rows="1"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">
						<i class="fa fa-plus-circle"></i> Ajouter 
						</button>
                    </div>
	      		</form>
			</div>
		</div>
	</div>

	{# Modification #}
	<div class="modal fade" id="updateEmplacement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form id="emplacementFormEdit" method="post" action="{{ path('emplacementEdit') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Modifier un emplacement</h4>
		      	</div>
		     	<div class="modal-body">
	                <div class="form-group">
	                    <label>Parcelle</label>
	                    <input name="parcelle" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <label>Carré de culture</label>
	                    <input name="carreCulture" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <label>Planche</label>
	                    <input name="planche" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                    <label>Code emplacement</label>
	                    <input name="codeEmplacement" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
                        <label>Commentaire</label>
                        <textarea name="commentaire" class="form-control" rows="3"></textarea>
                    </div>
                    <input type="text" name="idEmplacement" id="idEmplacementEdit" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Enregistrer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

	{# Suppression #}
	<div class="modal fade" id="deleteEmplacement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('deleteEmplacement') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Supprimer un emplacement</h4>
		      	</div>
		     	<div class="modal-body">
		     		<p>Voulez-vous vraiment supprimer cet emplacement ?</p>
		     		<input id="idEmplacementDelete" name="idEmplacement" type="text" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Confirmer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

{% endblock %}