{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				HISTORIQUE
			</h1>
			<ol class="breadcrumb">
				<li class="active">
					<i class="fa fa-history"></i> <a href="#">Historique</a>
				</li>
			</ol>
		</div>
	</div>


	{# Affichage des légumes #}
	<div class="row">
		<div class="col-lg-12">
			<h2>Logs</h2>
			<div class="col-lg-4">
				<form class="form-horizontal" role="form">
				    <div class="form-group">
				      <label class="col-sm-2 control-label" for="log">Filtre</label>
				      <div class="col-lg-10">
				      		<select class="form-control" id="filtreLog">
					        	<option default>Tous les logs</option>
						        {% for fichier in fichiers %}
									<option value="{{ fichier }}">{{ fichier }}</option>
						        {% endfor %}
					      	</select>
				      </div>
				    </div>
				</form>
			</div>
			<div class="col-lg-12 table-responsive">
				<table id="logList" class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Log</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						{% if (logs|length > 0) %}
							{% for log in logs %}
								<tr>
									<td>{{ log.id }}</td>
									<td>{{ log.log }}</td>
									{% if log.type == '0' %}
									<td>Creation BDD</td>
									{% elseif log.type == '1' %}
									<td>Creation table</td>
									{% elseif log.type == '2' %}
									<td>Modification table</td>
									{% elseif log.type == '3' %}
									<td>Insertion de donnée</td>
									{% elseif log.type == '4' %}
									<td>Selection de donnée</td>
									{% elseif log.type == '5' %}
									<td>Suppression de donnée</td>
									{% elseif log.type == '6' %}
									<td>Mise a jour de donnée</td>
									{% elseif log.type == '7' %}
									<td>Exportation BDD</td>
									{% elseif log.type == '8' %}
									<td>Importation BDD</td>
									{% endif %}
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucun historique trouvé</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>	
		</div>
	</div>


{% endblock %}