{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
			    <h1>Bienvenue sur App'Seed</h1>
			    <p><h3><i class="fa fa-info fa-fw"></i>Mais qu'est ce donc ?</h3></p>
			    <p>
			    	App'Seed est une application de gestion d'exploitation pour agriculteur.
			    </p>
			    <p>
			    	Elle permet d'améliorer votre productivité ainsi que de plannifier vos plantations et recoltes, facilement ! 
			    </p>
			    <p>
			    	Tout d'abord, commencez par gérer vos légumes et variétés en <a href="{{ path('legume') }}">cliquant ici</a>.
			    	Une fois cela fait, vous pourrez gérer vos séries en <a href="{{ path('planning') }}">cliquant ici</a>.
			    </p>
			    <div class="embed-responsive embed-responsive-16by9">
			    	Vidéo à venir prochainement.
				  {#<iframe class="embed-responsive-item" src="..."></iframe>#}
				</div>
			</div>
		</div>
	</div>
	
	<div id="loader">
		<img id="logo" class="animated zoomInDown" src="{{ app.request.basePath }}/views/dist/img/logo-top2.png" alt=""><br/>
  		<img class="" id="tournesol" src="{{ app.request.basePath }}/views/dist/img/tournesol.png" alt="">
	</div>

{% endblock %}