<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App'Seed</title>
	
	<link href="{{ app.request.basePath }}/views/dist/css/style_gantt.css" rel="stylesheet">
    <link href="{{ app.request.basePath }}/views/dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{ app.request.basePath }}/views/dist/css/sb-admin.css" rel="stylesheet">
    <link href="{{ app.request.basePath }}/views/dist/css/style.css" rel="stylesheet">
    <link href="{{ app.request.basePath }}/views/dist/css/animate.css" rel="stylesheet">
    <link href="{{ app.request.basePath }}/views/dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/views/dist/datepicker/css/datepicker.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="button-responsive" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('home') }}"><img id="logo-top" src="{{ app.request.basePath }}/views/dist/img/logo-top.png" alt="logo"></a>
            </div>
            <a href="#" id="popover-notif" data-container="body" data-toggle="popover" data-placement="bottom">
                <i id="alert-notif" class="fa fa-lg fa-bell"></i>
                <span id="alert-notif-badge" class="badge">0</span>
            </a>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="left-menu" class="nav navbar-nav side-nav">
                    <li {% if app.request.requestUri == path('planning') %}
                            class="active" 
                        {% endif %}>
                        <a href="{{ path('planning') }}"><i class="fa fa-fw fa-calendar-o"></i> Planning<img class="focus-menu" src="{{ app.request.basePath }}/views/dist/img/focus-menu.png"></a>

                    </li>
                    <li {% if app.request.requestUri == path('taches') %}
                            class="active" 
                        {% endif %}>
                        <a href="{{ path('taches') }}"><i class="fa fa-tasks"></i> Tâches<img class="focus-menu" src="{{ app.request.basePath }}/views/dist/img/focus-menu.png"></a>
                    </li>
                    <li {% if app.request.requestUri == path('legume') 
                           or app.request.requestUri == path('semencier')
                           or app.request.requestUri == path('emplacement') %}
                            class="active" 
                        {% endif %}>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-cogs"></i> Gestion <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ path('legume') }}">Liste des légumes</a>
                            </li>
                            <li>
                                <a href="{{ path('semencier') }}">Liste des semenciers</a>
                            </li>
                            <li>
                                <a href="{{ path('emplacement') }}">Liste des emplacements</a>
                            </li>
                        </ul>
                    </li>
                    <li {% if app.request.requestUri == path('data') %}
                            class="active" 
                        {% endif %}>
                        <a href="{{ path('data') }}"><i class="fa fa-fw fa-database"></i> Données <img class="focus-menu" src="{{ app.request.basePath }}/views/dist/img/focus-menu.png"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
			{% block content %}
			{% endblock %}
            </div>
        </div>
    </div>
	
    <script src="{{ app.request.basePath }}/views/dist/js/jquery.js"></script>
	<script src="{{ app.request.basePath }}/views/dist/js/jquery.fn.gantt.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/functions.js"></script>
	<script src="{{ app.request.basePath }}/views/dist/js/prevision.js"></script>
	<script src="{{ app.request.basePath }}/views/dist/js/planning.js"></script>
	<script src="{{ app.request.basePath }}/views/dist/js/legume.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/semencier.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/emplacement.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/suivi.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/bootstrap-tooltip.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/emplacementReserve.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/js/tache.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ app.request.basePath }}/views/dist/datepicker/js/locales/bootstrap-datepicker.fr.js"></script>


</body>
</html>


