{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Liste des légumes
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i>Gestion
				</li>
				<li>
					<a href="{{ path('legume') }}"><i class="fa fa-plus-square"></i> Légumes</a>
				</li>
			</ol>
		</div>
	</div>
	{# Message de résultats #}
	{% if resultLegume %}
		{% if resultLegume == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Le légume <strong>{{ var }}</strong> que vous tentez d'ajouter existe déjà.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le légume <strong>{{ var }}</strong> a bien été ajouté.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if resultVariete %}
		{% if resultVariete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">La variété <strong>{{ var }}</strong> que vous tentez d'ajouter existe déjà.</div>
				</div>
			</div>
		{% elseif resultVariete == "true" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La variété <strong>{{ var }}</strong> a bien été ajouté.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{# message résultat pour l'update #}
	{% if updateLegume %}
		{% if updateLegume == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Le légume <strong>{{ var }}</strong> n'a pas été mis à jour.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le légume <strong>{{ var }}</strong> a bien été mis à jour.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
	
{# message résultat pour la suppression #}
	{% if deleteLegume %}
		{% if deleteLegume == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Le légume <strong>{{ var }}</strong> n'a pas été supprimé.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le légume <strong>{{ var }}</strong> a bien été supprimé.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	

	{% if updateVariete %}
		{% if updateVariete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">La variété <strong>{{ var }}</strong> n'a pas été mis à jour.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La variété <strong>{{ var }}</strong> a bien été mis à jour.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if deleteVariete %}
		{% if deleteVariete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de la suppression de la variété de légume</div>
				</div>
			</div>
		{% elseif deleteVariete == "true" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La variété de légume a bien été supprimée.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
	
	
	{# Affichage des légumes #}
	<div class="row">
		<div class="col-lg-12">
			<h2>Légumes</h2>
			<div class="col-lg-12 table-responsive">
				<table class="table table-hover" id="legumePlus">
					<thead>
						<tr>
							<th>Nom du légume</th>
							<th>Code</th>
							<th>Semencier</th>
							<th>Commentaire</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						{% if (legumes|length > 0) %}
						{% set count = 1 %}
							{% for legume in legumes %}
								<tr class="LegumeVariete">
									<td><i class="fa fa-plus-square viewVariete" idLegume="{{ legume.idLegume }}" count = "{{count}}"></i>{{ legume.nom }}</td>
									<td>{{ legume.nom|slice(0, 2)|upper}}</td>
									<td></td>
									<td></td>
									<td>
										<button type="button" title="Éditer" idLegume="{{ legume.idLegume }}" class="btn btn-default legumeEdit" data-toggle="modal" data-target="#updateLegume"> <i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" title="Supprimer" idLegume="{{ legume.idLegume }}" class="btn btn-danger legumeDelete" data-toggle="modal" data-target="#deleteLegume"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
								<tr class="formAddVariete">
									<form method='post' class="form-horizontal" action='{{ path('addVariete') }}' role='form'>
										<input style="display : none" type="text" id="idLegume" name="idLegume" value="">
										<div class="form-group">
											<td><input type='text' class="form-control" name='nom' placeholder='Nom de variété' required></td> 
										</div>
										<div class="form-group">
											<td><input type='text' class="form-control" name='codeLegume' required></td> 
										</div>
										<div class="form-group">
											<td><select class="form-control" name="idSemencier" required>
													<option value="">Sélectionner un semencier</option>
													{% for semencier in semenciers %}
														<option value="{{ semencier.idSemencier }}">{{ semencier.nom }}</option>
													{% endfor %}
												</select>
											</td> 
										</div>
										<div class="form-group">
											<td><input class="form-control" type='text' name='commentaire'></td> 
										</div>
										<div class="form-group">
											<td><button type='submit' class='btn btn-default'><i class='fa fa-plus-circle'></i> Ajouter Variete</button></td>
										</div>
									</form>
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns légumes trouvés</td>
							</tr>
						{% endif %}
						<tr class="LegumeVariete">
						<form class="form-horizontal" role="form" method="post" action="{{ path('addLegume') }}">
				    		<div class="form-group">
				    			<td>
				    				<input name="nomLegume" class="form-control" placeholder="Nom du légume" required>
				    			</td>
				    		</div>
							<div class="form-group">
								<td>
									<button type="submit" class="btn btn-default">
									<i class="fa fa-plus-circle"></i> Ajouter 
									</button>			
								</td>
							</div>
						</form>
						</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>

	<!--<div class="row">
		<div class="col-lg-12">
			<h2>Variétés</h2>
			<div class="col-lg-4">
				<form class="form-horizontal" role="form">
				    <div class="form-group">
				      <label class="col-sm-2 control-label" for="legume">Filtre</label>
				      <div class="col-lg-10">
				      		<select class="form-control" id="filtreVariete">
					        	<option default>Tous les légumes</option>
						        {% for legume in legumes %}
									<option value="{{ legume.idLegume }}">{{ legume.nom }}</option>
						        {% endfor %}
					      	</select>
				      </div>
				    </div>
				</form>
			</div>	
			<div class="col-lg-12 table-responsive">
				<table id="varietesList" class="table">
					<thead>
						<tr>
							<th>Nom du légume</th>
							<th>Variété</th>
							<th>Code légume</th>
							<th>Semencier</th>
							<th>Commentaire</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if (varietes|length > 0) %}
							{% for variete in varietes %}
								<tr>
									<td>{{ variete.nomLegume }}</td>
									<td>{{ variete.nom }}</td>
									<td>{{ variete.codeLegume }}</td>
									<td>{{ variete.semencier }}</td>
									<td>{{ variete.commentaire }}</td>
									<td>
										<button type="button" title="Éditer" idVariete="{{ variete.idVariete }}" class="btn btn-default varieteEdit" data-toggle="modal" data-target="#editVariete"> <i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" title="Supprimer" idVariete="{{ variete.idVariete }}" class="btn btn-danger varieteDelete" data-toggle="modal" data-target="#deleteVariete"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucunes variétés trouvées</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
						{# Affichage du formulaire d'ajout, de mise a jour et de suppression de légume #}
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addVariete">
					<i class="fa fa-plus-circle"></i> Ajouter une Variété
				</button>
			</div>	
		</div>
	</div>-->

	
	{# Modal d'update de légume #}
	<div class="modal fade" id="updateLegume" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form id="legumeFormEdit" method="post" action="{{ path('updateLegume') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Modifier un légume</h4>
		      	</div>
		     	<div class="modal-body">
					<div class="form-group">
				      	<label for="legume">Nom du légume</label>
				      	<input name="nomLegume" class="form-control" required>
	                    <p class="help-block"></p>
				    </div>
					<input id="idLegumeEdit" name="idLegume" type="text" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Enregistrer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>
	
	{# Modal suppréssion de légume #}
	<div class="modal fade" id="deleteLegume" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('deleteLegume') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Supprimer un légume</h4>
		      	</div>
		     	<div class="modal-body">
		     		<p>Voulez-vous vraiment supprimer ce légume ?</p>
		     		<input id="idLegumeDelete" name="idLegume" type="text" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Confirmer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>
	
	
	{# Modal d'ajout de variété #}
	<div class="modal fade" id="addVariete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('addVariete') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Ajouter une variété</h4>
		      	</div>
		     	<div class="modal-body">
		     		<div class="form-group">
				      	<label for="legume">Liste des légumes</label>
				      	<select class="form-control" name="idLegume" required>
				        	<option value="">Sélectionner un légume</option>
				        	{% for legume in legumes %}
								<option value="{{ legume.idLegume }}">{{ legume.nom }}</option>
				        	{% endfor %}
				      	</select>
				    </div>
	                <div class="form-group">
	                    <label>Nom de la variété</label>
	                    <input name="nom" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
					<div class="form-group">
	                    <label>Code légume</label>
	                    <input name="codeLegume" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                	<label>Semencier</label>
	                	<select class="form-control" name="idSemencier" required>
	                		<option value="">Sélectionner un semencier</option>
	                		{% for semencier in semenciers %}
								<option value="{{ semencier.idSemencier }}">{{ semencier.nom }}</option>
	                		{% endfor %}
	                	</select>
	                </div>
	                <div class="form-group">
                        <label>Commentaire</label>
                        <textarea name="commentaire" class="form-control" rows="3"></textarea>
                    </div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Ajouter</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>
	
	{# Modification de variété #}
	<div class="modal fade" id="editVariete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form id="varieteFormEdit" method="post" action="{{ path('updateVariete') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Modifier une variété</h4>
		      	</div>
		     	<div class="modal-body">
		     		<div class="form-group">
				      	<label for="legume">Liste des légumes</label>
				      	<select class="form-control" name="idLegume" required>
				        	{% for legume in legumes %}
								<option value="{{ legume.idLegume }}">{{ legume.nom }}</option>
				        	{% endfor %}
				      	</select>
				    </div>
	                <div class="form-group">
	                    <label>Nom de la variété</label>
	                    <input name="nom" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
					<div class="form-group">
	                    <label>Code légume</label>
	                    <input name="codeLegume" class="form-control" required>
	                    <p class="help-block"></p>
	                </div>
	                <div class="form-group">
	                	<label>Semencier</label>
	                	<select class="form-control" name="idSemencier" required>
	                		{% for semencier in semenciers %}
								<option value="{{ semencier.idSemencier }}">{{ semencier.nom }}</option>
	                		{% endfor %}
	                	</select>
	                </div>
	                <div class="form-group">
                        <label>Commentaire</label>
                        <textarea name="commentaire" class="form-control" rows="3"></textarea>
                    </div>
                    <input id="idVarieteEdit" type="text" name="idVariete" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Enregistrer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

	{# Modal suppréssion de variété #}
	<div class="modal fade" id="deleteVariete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('deleteVariete') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Supprimer une variété</h4>
		      	</div>
		     	<div class="modal-body">
		     		<p>Voulez-vous vraiment supprimer cette variété ?</p>
		     		<input id="idVarieteDelete" name="idVariete" type="text" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Confirmer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

{% endblock %}