{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Planning
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i> <a href="{{ path('planning') }}">Planning</a>
				</li>
			</ol>
		</div>
	</div>

	{# Message de résultats #}
	{% if result %}
		{% if result == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de la réservation de l'emplacement</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La réservation de l'emplacement a bien été prise en compte</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if delete %}
		{% if delete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de la suppression de la réservation</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La réservation de l'emplacement a bien été supprimée</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Code Emplacement</th>
							<th>Nom Legume</th>
							<th>Nom Variété</th>
							<th>Action</th>
						</tr> 
					</thead>
					<tbody>
						{% if (emplacementsR|length > 0) %}
							{% for emplacementR in emplacementsR %}
								<tr>
									<td>{{ emplacementR.codeEmplacement }}</td>
									<td>{{ emplacementR.nomLegume }}</td>
									<td>{{ emplacementR.nomVariete }}</td>
									<td> 
										<a class="btn btn-default" href="{{ path('prevision',{'idEmplacementR':emplacementR.idEmplacementReserve}) }}">Prévision</a>
										<button idEmplacementR="{{ emplacementR.idEmplacementReserve }}" type="button" class="btn btn-danger idEmplacementReserveDelete" data-toggle="modal" data-target="#deleteEmplacementReserve"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns emplacements réservés</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
					
					{# Affichage du formulaire d'ajout de légume #}
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addEmplacementReserve">
					<i class="fa fa-plus-circle"></i> Réserver un emplacement à une variété
				</button>
				<button type="button" class="btn btn-default viewGantt">
					<i class="fa fa-bar-chart"></i> Voir le Gantt général
				</button>
					
			</div>
		</div>
	</div>
	<div class="gantt"></div>
	
	{# Modal d'ajout de planning #}
	<div class="modal fade" id="addEmplacementReserve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('addPlanning') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Réserver un emplacement à une variété</h4>
		      	</div>
		     	<div class="modal-body">
		     		<div class="form-group">
				      	<label for="legume">Liste des emplacements</label>
				      	<select class="form-control" name="idEmplacement" required>
				        	<option value="">Sélectionner un emplacement</option>
				        	{% for emplacement in emplacements %}
								<option value="{{ emplacement.idEmplacement }}">{{ emplacement.codeEmplacement }}</option>
				        	{% endfor %}
				      	</select>
				    </div>
	                <div class="form-group">
				      	<label for="legume">Liste des légumes</label>
				      	<select id="legumeSelect" class="form-control" name="idLegume" required>
				        	<option value="">Sélectionner un légume</option>
				        	{% for legume in legumes %}
								<option value="{{ legume.idLegume }}">{{ legume.nom }}</option>
				        	{% endfor %}
				      	</select>
				    </div>
				    <div id="ListeVariete" class="form-group">
				    	
				    </div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Ajouter</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>
	

	<div class="modal fade" id="deleteEmplacementReserve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('deletePlanning') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Réserver un emplacement à une variété</h4>
		      	</div>
		     	<div class="modal-body">
		     		<p>Voulez-vous vraiment supprimer cette réservation ?</p>
		     		<input type="text" name="idEmplacementReserve" id="idEmplacementReserveDelete" value="" hidden>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Confirmer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>

{% endblock %}