{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Prévision pour l'emplacement {{ emplacementReserve.codeEmplacement }} et la variété {{ emplacementReserve.legume }} {{ emplacementReserve.nom }}
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i> <a href="{{ path('planning') }}">Planning</a>
				</li>
				<li>
					Prévision
				</li>
			</ol>
		</div>
	</div>

	{# Message de résultats #}
	{% if result %}
		{% if result == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de l'ajout d'une prévision</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La prévision a bien été ajouté</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if resultDelete %}
		{% if resultDelete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de la suppression d'une prévision</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">La prévision a bien été supprimée</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if suivi %}
		{% if suivi == "created" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le suivi a bien été créé</div>
				</div>
			</div>
		{% elseif (suivi == "edit") %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le suivi a bien été modifié</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Un erreur est survenu lors de l'opération sur le suivi</div>
				</div>
			</div>
		{% endif %}
	{% endif %}


	{# Liste des prévisions #}
	<div class="row">
		<div class="col-lg-12">
			<h2>Prévisions</h2>
			<div class="col-lg-12 table-responsive" id="prevision">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><strong>#</strong></th>
							<th>Préparation du sol</th>
							<th>Lutte adventices</th>
							<th>Semis</th>
							<th>Plantation</th>
							<th>Début de la récolte</th>
							<th>Fin de la récolte</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						{% if (previsions|length > 0) %}
							{% set count = 1 %}
							{% for prevision in previsions %}
								<tr>
									<td><strong>{{ count }}</strong></td>
									<td>{{ prevision.preparationSol }} semaine(s)</td>
									<td>{{ prevision.lutteAdventices }} semaine(s)</td>
									<td>{{ prevision.semis }}</td>
									<td>{{ prevision.plantation }}</td>
									<td>{{ prevision.debutRecolte }}</td>
									<td>{{ prevision.finRecolte }}</td>
									<td>
										<button type="button" title="Suivi" idEmplacementR="{{ idEmplacementReserve }}" idPrevision="{{ prevision.idPrevisionnel }}" class="btn btn-default suivi" data-toggle="modal" data-target="#addSuivi"><i class="fa fa-thumb-tack"></i></button>
										<button type="button" title="Modifier" idPrevision="{{ prevision.idPrevisionnel }}" class="btn btn-default editPrevision" data-toggle="modal" data-target="#editPrevision"><i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" title="Supprimer" idPrevision="{{ prevision.idPrevisionnel }}" class="btn btn-danger deletePrevision" data-toggle="modal" data-target="#deletePrevision"><i class="fa fa-trash-o fa-lg"></i></button>
										<button type="button" title="Voir Gantt" idPrevision="{{ prevision.idPrevisionnel }}" class="btn btn-default viewPrevision" numberId = "{{ count }}" data-target="#viewPrevision" data-toggle="modal"><i class="fa fa-bar-chart"></i></button>
									</td>
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucune prévisions trouvées</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				{# Affichage du formulaire d'ajout de prévision #}
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addPrevision">
				  	<i class="fa fa-plus-circle"></i> Ajouter une prévision
				</button>
			</div>
		</div>
	</div>
	<h4 class="titre-gantt"></h4>
	<div class="gantt" scale="days"></div>

	
	{# Ajout #}
	<div class="modal fade" id="addPrevision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('addPrevision') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Ajouter une prévision</h4>
			      	</div>
			     	<div class="modal-body">
			     		<div class="form-group">
			     			<label for="legume">Préparation du sol</label>
			     			<div class="input-append date">
					      		<input class="form-control" name="preparationSol" type="number" required>
							</div>
					    </div>
					    <div class="form-group">
			     			<label for="legume">Lutte adventices</label>
			     			<div class="input-append date">
					      		<input class="form-control" name="lutteAdventices" type="number" required>
							</div>
					    </div>
			     		<div class="form-group">
			     			<label for="legume">Semis</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="semis" required>
							</div>
					    </div>
					    <div class="form-group">
			     			<label for="legume">Plantation</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="plantation" required>
							</div>
					    </div>
			     		<div class="form-group">
			     			<label for="legume">Récolte</label>
			     			<div class="input-append date">
			     				<span>De </span>
					      		<input data-provide="datepicker" class="datepicker" name="debutRecolte" required>
					      		<span> à </span>
							    <input data-provide="datepicker" class="datepicker" name="finRecolte" required>
							</div>
					    </div>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Ajouter</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>

	{# Modification #}
	<div class="modal fade" id="editPrevision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form id="editFormPrevision" method="post" action="{{ path('editPrevision') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Modifier une prévision</h4>
			      	</div>
			     	<div class="modal-body">
			     		<div class="form-group">
			     			<label for="legume">Préparation du sol</label>
			     			<div class="input-append date">
					      		<input class="form-control" name="preparationSol" type="text" required>
							</div>
					    </div>
					    <div class="form-group">
			     			<label for="legume">Lutte adventices</label>
			     			<div class="input-append date">
					      		<input class="form-control" name="lutteAdventices" type="text" required>
							</div>
					    </div>
			     		<div class="form-group">
			     			<label for="legume">Semis</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="semis" required>
							</div>
					    </div>
					    <div class="form-group">
			     			<label for="legume">Plantation</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="plantation" required>
							</div>
					    </div>
			     		<div class="form-group">
			     			<label for="legume">Récolte</label>
			     			<div class="input-append date">
			     				<span>De </span>
					      		<input data-provide="datepicker" class="datepicker" name="debutRecolte" required>
					      		<span> à </span>
							    <input data-provide="datepicker" class="datepicker" name="finRecolte" required>
							</div>
					    </div>
					    <input id="idPrevisionEdit" type="text" name="idPrevisionnel" value="" hidden>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Enregistrer</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>

	{# Suppression #}
	<div class="modal fade" id="deletePrevision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('deletePrevision') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Supprimer une prévision</h4>
			      	</div>
			     	<div class="modal-body">
			     		<p>Êtes-vous sûr de vouloir supprimer cette prévision ?</p>
					    <input id="idPrevisionDelete" type="text" name="idPrevisionnel" value="" hidden>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Confirmer</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>
	
	{# Voir gantt #}
	<!--<div class="modal fade" id="viewPrevision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" id="modal-gantt">
		    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Gantt n°{{ count - 1 }} de la prévision pour l'emplacement {{ emplacementReserve.codeEmplacement }} et la variété {{ emplacementReserve.legume }} {{ emplacementReserve.nom }} </h4>
			      	</div>
			     	<div class="modal-body">
							<div class="gantt"></div>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
			      	</div>
		    </div>
	  	</div>
	</div>-->

	{# Suivi #}
	<div class="modal fade suiviModal" id="addSuivi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('submitSuivi') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Suivi opérationnel</h4>
			      	</div>
			     	<div class="modal-body">
			     		<div class="form-group col-sm-6">
			     			<label for="preparationSol">Préparation du sol</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="preparationSol">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="lutteAdventices">Lutte adventices</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="lutteAdventices">
							</div>
					    </div>
			     		<div class="form-group col-sm-6">
			     			<label for="semis">Semis</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="semis">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="plantation">Plantation</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="plantation">
							</div>
					    </div>
			     		<div class="form-group col-sm-12">
			     			<label for="recolte">Récolte</label>
			     			<div class="input-append date">
			     				<span>De </span>
					      		<input data-provide="datepicker" class="datepicker" name="debutRecolte">
					      		<span> à </span>
							    <input data-provide="datepicker" class="datepicker" name="finRecolte">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Quantité</label>
					    	<input class="form-control" type="number" name="quantite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Unité</label>
					    	<input class="form-control" type="text" name="unite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Qualité</label>
					    	<input class="form-control" type="number" name="qualite">
					    </div>
					    <div class="form-group col-sm-12">
					    	<label>Commentaire</label>
					    	<textarea name="commentaire" class="form-control" rows="3"></textarea>
					    </div>
					    <input id="idSuivi" name="idSuivi" value="" hidden>
					    <input id="idPrevisionSuivi" type="text" name="idPrevisionnel" value="" hidden>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Enregistrer</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>

{% endblock %}