{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Liste des semenciers
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i> Gestion
				</li>
				<li>
					<i class="fa fa-plus-square"></i> <a href="{{ path('semencier') }}">Semenciers</a>
				</li>
			</ol>
		</div>
	</div>

	{# Message de résultats #}
	{% if result %}
		{% if result == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Le semencier <strong>{{ var }}</strong> que vous tentez d'ajouter existe déjà.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le semencier <strong>{{ var }}</strong> a bien été ajouté.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
	
	{# Message de résultats des mises à jours #}
	{% if updateSemencier %}
		{% if updateSemencier == "true" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le semencier a bien été mis à jour.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Le semencier n'a pas été mis à jour.</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{# Message de résultats des mises à jours #}
	{% if deleteSemencier %}
		{% if deleteSemencier == "true" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le semencier a bien été suppprimé.</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenu lors de la suppression du semencier</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nom du semencier</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if (semenciers|length > 0) %}
							{% for semencier in semenciers %}
								<tr>
									<td>{{ semencier.nom }}</td>
									<td>
										<button type="button" idSemencier="{{ semencier.idSemencier }}" title="Éditer" class="btn btn-default semencierEdit" data-toggle="modal" data-target="#updateSemencier"> <i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" idSemencier="{{ semencier.idSemencier }}" title="Supprimer" class="btn btn-danger semencierDelete" data-toggle="modal" data-target="#deleteSemencier"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>Aucuns semenciers trouvés</td>
							</tr>
						{% endif %}
						</tbody>
					</table>	
					</tbody>
				</table>	
				{# Affichage du formulaire d'ajout de semencier #}
				<form method="post" class="navbar-form" action="{{ path('addSemencier') }}" role="form">
	        		<h4 class="modal-title" id="myModalLabel">Ajouter un semencier</h4>
	                <div class="form-group">
	                    <input name="nomSemencier" class="form-control" placeholder="Nom du semencier" required>
	                	<p class="help-block"></p>
	                </div>
	                <br>
	                <div class="form-group">
	                	<button type="submit" class="btn btn-default">
						<i class="fa fa-plus-circle"></i> Ajouter 
						</button>
	                </div>
	      		</form>			
			</div>
		</div>
	</div>
	
	{# Modal de mise à jour de semencier #}
	<div class="modal fade" id="updateSemencier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form id="semencierFormEdit" method="post" action="{{ path('updateSemencier') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Mettre à jour un semencier</h4>
			      	</div>
			     	<div class="modal-body">
						<div class="form-group">
					      	<label for="legume">Nom</label>
					      	<input name="nomSemencier" class="form-control" required>
		                    <p class="help-block"></p>
					    </div>
					    <input id="idSemencierEdit" type="text" name="idSemencier" value="" hidden>
			      		<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				        	<button type="submit" class="btn btn-primary">Enregistrer</button>
			      		</div>
			      	</div>
		      	</form>
		  	</div>
		 </div>
	</div>

	
	{# Modal de suppression de semencier #}
	<div class="modal fade" id="deleteSemencier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form method="post" action="{{ path('deleteSemencier') }}" role="form">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Supprimer un semencier</h4>
		      	</div>
		     	<div class="modal-body">
	             	<p>Voulez-vous vraiment supprimer ce semencier ?</p>
					<input id="idSemencierDelete" type="text" name="idSemencier" value="" hidden>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		        	<button type="submit" class="btn btn-primary">Confirmer</button>
		      	</div>
	      	</form>
	    </div>
	  </div>
	</div>
{% endblock %}