{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Suivi pour l'emplacement {{ emplacementReserve.codeEmplacement }} et la variété {{ emplacementReserve.legume }} {{ emplacementReserve.nom }}
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-cogs"></i> <a href="{{ path('planning') }}">Planning</a>
				</li>
				<li>
					Suivi
				</li>
			</ol>
		</div>
	</div>

	
	{% if add %}
		{% if add == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de l'ajout du suivi</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le suivi a bien été ajouté</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
	
	{% if edit %}
		{% if edit == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de la modification du suivi</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le suivi a bien été modifié</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if delete %}
		{% if delete == "false" %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger">Une erreur est survenue lors de la suppression d'un suivi</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-success">Le suivi a bien été supprimée</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{# Liste des suivis #}
	<div class="row">
		<div class="col-lg-12">
			<h2>Suivi</h2>
			<div class="col-lg-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><strong>#</strong></th>
							<th>Préparation du sol</th>
							<th>Lutte adventices</th>
							<th>Semis</th>
							<th>Plantation</th>
							<th>Récolte</th>
							<th>Quantité</th>
							<th>Unité</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						{% if (suivis|length > 0) %}
							{% set count = 1 %}
							{% for suivi in suivis %}
								<tr>
									<td><strong>{{ count }}</strong></td>
									<td>{{ suivi.preparationSol }}</td>
									<td>{{ suivi.lutteAdventices }}</td>
									<td>{{ suivi.semis }}</td>
									<td>{{ suivi.plantation }}</td>
									<td>{{ suivi.debutRecolte }} - {{ suivi.finRecolte }}</td>
									<td>{{ suivi.quantite }}</td>
									<td>{{ suivi.unite }}</td>
									<td>
										<button type="button" title="Modifier" idSuivi="{{ suivi.idSuivi }}" class="btn btn-default editSuivi" data-toggle="modal" data-target="#editSuivi"><i class="fa fa-pencil fa-fw"></i></button>
										<button type="button" title="Supprimer" idSuivi="{{ suivi.idSuivi }}" class="btn btn-danger deleteSuivi" data-toggle="modal" data-target="#deleteSuivi"><i class="fa fa-trash-o fa-lg"></i></button>
									</td>
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						{% else %}
							<tr>
								<td> </td>
								<td>Aucuns suivis trouvés</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				{# Affichage du formulaire d'ajout de prévision #}
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addSuivi">
				  	<i class="fa fa-plus-circle"></i> Ajouter un suivi
				</button>
			</div>
		</div>
	</div>

	<div class="modal fade suiviModal" id="addSuivi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('addSuivi') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Suivi opérationnel</h4>
			      	</div>
			     	<div class="modal-body">
			     		<div class="form-group col-sm-6">
			     			<label for="preparationSol">Préparation du sol</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="preparationSol">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="lutteAdventices">Lutte adventices</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="lutteAdventices">
							</div>
					    </div>
			     		<div class="form-group col-sm-6">
			     			<label for="semis">Semis</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="semis">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="plantation">Plantation</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="plantation">
							</div>
					    </div>
			     		<div class="form-group col-sm-12">
			     			<label for="recolte">Récolte</label>
			     			<div class="input-append date">
			     				<span>De </span>
					      		<input data-provide="datepicker" class="datepicker" name="debutRecolte">
					      		<span> à </span>
							    <input data-provide="datepicker" class="datepicker" name="finRecolte">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Quantité</label>
					    	<input class="form-control" type="number" name="quantite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Unité</label>
					    	<input class="form-control" type="text" name="unite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Qualité</label>
					    	<input class="form-control" type="number" name="qualite">
					    </div>
					    <div class="form-group col-sm-12">
					    	<label>Commentaire</label>
					    	<textarea name="commentaire" class="form-control" rows="3"></textarea>
					    </div>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Ajouter</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>

	<div class="modal fade suiviModal" id="editSuivi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('editSuivi') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Suivi opérationnel</h4>
			      	</div>
			     	<div class="modal-body">
			     		<div class="form-group col-sm-6">
			     			<label for="preparationSol">Préparation du sol</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="preparationSol">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="lutteAdventices">Lutte adventices</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="lutteAdventices">
							</div>
					    </div>
			     		<div class="form-group col-sm-6">
			     			<label for="semis">Semis</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="semis">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
			     			<label for="plantation">Plantation</label>
			     			<div class="input-append date">
					      		<input data-provide="datepicker" class="datepicker" name="plantation">
							</div>
					    </div>
			     		<div class="form-group col-sm-12">
			     			<label for="recolte">Récolte</label>
			     			<div class="input-append date">
			     				<span>De </span>
					      		<input data-provide="datepicker" class="datepicker" name="debutRecolte">
					      		<span> à </span>
							    <input data-provide="datepicker" class="datepicker" name="finRecolte">
							</div>
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Quantité</label>
					    	<input class="form-control" type="number" name="quantite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Unité</label>
					    	<input class="form-control" type="text" name="unite">
					    </div>
					    <div class="form-group col-sm-6">
					    	<label>Qualité</label>
					    	<input class="form-control" type="number" name="qualite">
					    </div>
					    <div class="form-group col-sm-12">
					    	<label>Commentaire</label>
					    	<textarea name="commentaire" class="form-control" rows="3"></textarea>
					    </div>
					    <input type="text" name="idSuivi" value="" hidden>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Enregistrer</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>
	
	<div class="modal fade" id="deleteSuivi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form method="post" action="{{ path('deleteSuivi') }}" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Supprimer un suivi</h4>
			      	</div>
			     	<div class="modal-body">
			     		<p>Êtes-vous sûr de vouloir supprimer ce suivi ?</p>
					    <input id="idSuiviDelete" type="text" name="idSuivi" value="" hidden>
					    <input type="text" name="idEmplacementReserve" value="{{ idEmplacementReserve }}" hidden>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        	<button type="submit" class="btn btn-primary">Confirmer</button>
			      	</div>
		      	</form>
		    </div>
	  	</div>
	</div>

{% endblock %}