{% extends 'layout.html.twig' %}

{% block content %}

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Tâches hebdomadaires
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-tasks"></i> Tâches
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="semaineTaches">
			<h4>Année <span class="label label-success">{{ annee }}</span> Semaine <a href="{{ 'semaineTache' }}"><i class="glyphicon glyphicon-chevron-left"></i></a><span class="label label-success">{{ semaine }}</span><a href="{{ 'semaineTache' }}"><i class="glyphicon glyphicon-chevron-right"></i></a></h4>
			<button type="button" class="btn btn-default" id="tacheMaskSaved" value="0"> <i class="fa fa-toggle-off fa-fw"></i>Masquer les tâches enregistrées</button>
			<button type="button" class="btn btn-default" id="tacheMaskRetard" value="1"> <i class="fa fa-toggle-off fa-fw"></i>Masquer les tâches en retard</button>
				<label class="retardTache"><i class="fa fa-exclamation fa-fw"></i>Tâche en retard</label>
				<label class="previsionTache"><i class="fa fa-bell fa-fw"></i>Tâche prévisionnelle</label>
				<label class="suiviTache"><i class="fa fa-check fa-fw"></i>Tâche ayant un suivi</label>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="taches">
			{# Taches #}
			{% if taches.previsionnel|length > 0 or taches.retard|length > 0 or taches.suivi|length > 0 %}	

				{# Taches semis #}
				{% if taches.previsionnel[0]|length > 0 or taches.retard[0]|length > 0 or taches.suivi[0]|length > 0 %}
					<h2>Semis</h2>
					<form method="POST" action="{{ path('saveTache',{'type':2}) }}" class="form">
					{# Retard #}
					{% for i in taches.retard[0] %}	
						<div class="form-group retardTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="semis[]">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Previsionnel #}
					{% for i in taches.previsionnel[0] %}	
						<div class="form-group previsionTache">
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="semis[]" placeholder="{{ i.prevision.semis }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Sauvegardées #}
					{% for i in taches.suivi[0] %}	
						<div class="form-group suiviTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="semis[]" placeholder="{{ i.prevision.semis }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-default">Enregistrer</button>
					</form>
				{% endif %}

				{# Taches plantation #}
				{% if taches.previsionnel[1]|length > 0 or taches.retard[1]|length > 0 or taches.suivi[1]|length > 0 %}
					<h2>Plantations</h2>
					<form method="POST" action="{{ path('saveTache',{'type':3}) }}" class="form">
					{# Retard #}
					{% for i in taches.retard[1] %}	
						<div class="form-group retardTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="plantation[]">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Previsionnel #}
					{% for i in taches.previsionnel[1] %}	
						<div class="form-group previsionTache">
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="plantation[]" placeholder="{{ i.prevision.plantation }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Sauvegardées #}
					{% for i in taches.suivi[1] %}	
						<div class="form-group suiviTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="plantation[]" placeholder="{{ i.prevision.plantation }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-default">Enregistrer</button>
					</form>
				{% endif %}

				{# Taches recolte #}
				{% if taches.previsionnel[2]|length > 0 or taches.retard[2]|length > 0 or taches.suivi[2]|length > 0 %}
					<h2>Recoltes</h2>
					<form method="POST" action="{{ path('saveTache',{'type':4}) }}" class="form">
					{# Retard #}
					{% for i in taches.retard[2] %}	
						<div class="form-group retardTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="recolteDebut[]"> au <input data-provide="datepicker" class="datepicker" name="recolteFin[]">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Previsionnel #}
					{% for i in taches.previsionnel[2] %}	
						<div class="form-group previsionTache">
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="recolteDebut[]" placeholder="{{ i.prevision.debutRecolte }}"> au <input data-provide="datepicker" class="datepicker" name="recolteFin[]" placeholder="{{ i.prevision.finRecolte }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					{# Sauvegardées #}
					{% for i in taches.suivi[2] %}	
						<div class="form-group suiviTache" >
							<label>{{ i.code.codeLegume }} - {{ i.code.codeEmplacement }} | </label><input data-provide="datepicker" class="datepicker" name="recolteDebut[]" placeholder="{{ i.prevision.debutRecolte }}"> au <input data-provide="datepicker" class="datepicker" name="recolteFin[]" placeholder="{{ i.prevision.finRecolte }}">
							<input type="hidden" class="form-control" name="idPrev[]" value="{{ i.prevision.idPrevisionnel }}">
							<input type="hidden" class="form-control" name="idReserve[]" value="{{ i.prevision.idEmplacementReserve }}">
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-default">Enregistrer</button>
					</form>
				{% endif %}

			{% endif %}

		</div>
	</div>
{% endblock %}